@import "@/style/func.scss";

.status-modal {
  .ant-form-item-control-wrapper input {
    width: 100%;
  }
  .ant-calendar-picker {
    margin-right: 10px;
  }
}

.component-gym-tab-form-360 {
  .ant-form-item-control-wrapper input {
    width: 100%;
  }
}