.form-field-pair {
  margin-bottom: 30px;
  .ant-form-item {
    margin-bottom: 0px;
  }

  .label {
     display:flex;
     justify-content:flex-end;
  }
  .required::before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
  }
  .item {
     display:flex;
     align-items:center;
  }
}