/**
*Desc: 活动记录页面样式/报名弹框
*User: Vicky.Yu
*Date: 2018/12/12,
*Time: 下午17:35
*/

.choose-package-error {
    line-height: 3;
    color: #7c7c7c;
    span {
        color: #009cbd;
    }
}
.enroll-emphasize-text {
    color: #009cbd;
}
