
#gym-classroom-add-edit{
    .ant-form-item {
        display: flex;
    }

    .ant-form-item-control-wrapper{
        width: 200px;
    }
}

.gym-table-popover {
    .ant-popover-inner-content {
        padding: 12px 16px !important;
    }
}
