/**
*Desc: 活动记录页面样式/报名弹框
*User: Vicky.Yu
*Date: 2018/12/12,
*Time: 下午17:35
*/
#course-package{
    .item-padding{
        margin: 50px 0;
    }
  .course-baby-name{
      font-weight: bold;
      span{
        font-weight: normal;
        color: #b1adad;
    } 
  }
  .course-rest{
      font-weight: bold;
      span{
        color: #009cbd;
    }
  }
}