/**
 * desc:
 * User: Renjian.Tang/renjian.tang@gymboglobal.com
 * Date: 2020/10/27
 * Time: 上午9:47
 */
@import "../../../../style/func.scss";
@import "../../../../style/common.scss";

.gym-reset{
    &-main{
        width: transRem(450px);
        margin: auto;
        padding-top: transRem(50px);
        &-head{
            text-align: center;
            &-title{
                width: 225px;
                margin: 0 auto transRem(20px) auto;
                height: 82px;
                border-bottom: 1px solid #009BBC;
                line-height: 82px;
                text-align: center;
                color: #009BBC;
                font-size: 30px;
            }
        }
        .login-form {
            width: 100%;
            &-check-item{
                display: flex;
                align-items: center;
                .ant-form-item-control{
                    width: transRem(450px);
                    position: relative;
                }
                &-send{
                    cursor: pointer;
                    color: #FD0000;
                    position: absolute;
                    width: auto;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &-icon{
                    color: $success;
                    position: absolute;
                    font-size: 24px;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }
            .ant-form-item {
                margin-bottom: 30px;
            }

            .login-form-button {
                background: $themeColor;
                color: $white;
                border: 1px solid $themeColor;
                width: 100%;
                height: 50px;
                font-size: 18px;
                &-back{
                    display: inline-block;
                    background: $white;
                    color: $themeColor;
                    border: 1px solid $themeColor;
                    width: 100%;
                    height: 50px;
                    font-size: 18px;
                    text-align: center;
                    line-height: 50px;
                }
            }

            .ant-input {
                height: 50px;
                font-size: 16px;
            }

            .ant-form-explain {
                position: absolute;
                margin-top: 5px;
            }
        }
    }
}
