@import "../../../../style/func.scss";
.g2-guide-html {
    vertical-align: middle;
    text-align: center;
}

.g2-guide-html .title {
    font-size: 12px;
    color: #666;
}

.g2-guide-html .value {
    font-size: 18px;
    color: #000;
}
