@import "../../../../../style/theme";
@import "../../../../../style/func";
@import "../../../../../style/web";

.gym-lesson-popover {
    padding:transRem(10px) transRem(15px);
    border-radius: 15px;
    width: 400px;

    &-row {
        width: 100%;
        margin-bottom: 10px;
    }

    &-text {
        overflow-wrap: break-word;
    }

    &-button {
        vertical-align: center;
    }

    &-span {
        padding: 30px 20px;
    }
}

.gym-lesson-button {
    text-align: center;
}

.gym-lesson-config-table {
    .ant-table-body {
        border-radius: 12px;
    }
    .ant-table-tbody > tr > td:first-child{
        background-color: #F3F7FB;
    }

    &-select {
        padding: 30px 20px !important;
    }
}

.gym-popOver{
    &-tip {
        color: #009BBC;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    &-area {
        width:300px;
        height: 620px;

        ::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        ::-webkit-scrollbar:vertical {
            width: 11px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 2px solid white;
            background-color: rgba(0, 0, 0, .5);
        }
    }

    &-phone {
        position: absolute;
        z-index: 5;
    }

    &-phone-title {
        position: absolute;
        z-index: 15;
        margin-top: 60px;
        margin-left: 115px;
    }

    &-content {
        height: 460px;
        overflow-y: scroll;
        position: absolute;
        z-index: 5;
        margin: 60px 0 25px;
        width: 95%;
        text-align: center;
    }

    &-mainTitle {
        width:250px;
        z-index: 5;
        margin-top: 65px;
        margin-left: 12px;
    }

    &-popOverLessonType {
        color: #FFFFFF;
        font-size: transRem(34px);
        width: 150px;
        height: 50px;
        z-index: 5;
        margin-left: 120px;
        margin-top: -67px;
    }

    &-recap {
        margin-top: 25px;
        box-shadow: 0 0 3px 3px rgba(56, 91, 99, 0.1);
        border-radius: transRem(12px);
        background-color: #FFFFFF;
        width:234px;
        text-align: center;
        margin-left: 130px;


        &-title {
            color: #FFFFFF;
            position: absolute;
            margin-left: 18px;
            text-align: center;
        }

        &-content {
            padding: 8px;
            color: #999;
            font-size: 12px;
        }
    }

    &-review {
        margin-top: 25px;
        box-shadow: 0 0 3px 3px rgba(56, 91, 99, 0.1);
        border-radius: transRem(12px);
        background-color: #FFFFFF;
        width:234px;
        text-align: center;
        margin-left: 130px;


        &-title {
            color: #FFFFFF;
            position: absolute;
            margin-left: 18px;
            text-align: center;
        }

        &-content {
            padding: 8px;
            color: #999;
            font-size: 12px;
        }
    }

    &-prepare {
        margin-top: 25px;
        box-shadow: 0 0 3px 3px rgba(56, 91, 99, 0.1);
        border-radius: transRem(12px);
        background-color: #FFFFFF;
        width:234px;
        text-align: center;
        margin-left: 130px;
        margin-bottom: 20px;


        &-title {
            color: #FFFFFF;
            position: absolute;
            margin-left: 18px;
            text-align: center;
        }

        &-content {
            padding: 8px;
            color: #999;
            font-size: 12px;
        }
    }

    &-subTitle1 {
        width:90px;
        z-index: 5;
        margin-top: -3px;
    }

    &-subTitle2 {
        width:90px;
        z-index: 5;
        margin-top: -3px;
    }

    &-subTitle3 {
        width:90px;
        z-index: 5;
        margin-top: -3px;
    }
}








