@import "@/style/func.scss";

.teaching-model-wrapper {
    .ant-modal-content {
        min-height: 191px;
        display: flex;
        flex-direction: column;
        .ant-modal-body {
            flex: 1;
            position: relative;
            padding-top: 40px;

            .text {
                text-align: center;
                position: relative;
                top: 60px;
                font-size: 18px;
                color: #666666;
                padding: 0px 20px;
            }

            .contract-info {
                text-align: center;
                top: 60px;
                font-size: 18px;
                color: #666666;
            }

            .title {
                text-align: center;
                position: relative;
                top: 50px;
                font-size: 14px;
                color: #666666;
            }

            .iconWrapper {
              width: 100%;
              position: absolute;
              top: -35px;
              left: 0px;
              display: flex;
              justify-content: center;

              .topIcon {
                  width: 70px;
                  height: 70px;
                  border: 4px solid white;
                  border-radius: 35px;
                  background-color: #009CBD;
                  text-align: center;
                  line-height: 60px;
                  color: white;
                  font-size: 45px;
              }
            }

            .contract-text {
                text-align: center;
                position: relative;
                top: 0;
                font-size: 18px;
                color: #666666;
                padding: 0px 20px;
            }
        }

        .ant-modal-footer {
            border-top: 0px;
            text-align: center;
            padding-bottom: 30px;

            .ant-btn:last-child {
                margin-left: transRem(12px);
                border-radius: 15px;
                width: 90px;
            }

            .ant-btn:first-child {
                border-color: #009CBD;
                color: #009CBD;
                border-radius: 15px;
                width: 90px;
            }
        }

    }

}
