/**
 * desc: 项目通用样式
 * User: debby.deng
 * Date: 2018/12/24
 * Time: 下午4:11
 */

$bgColor: #ffffff;
$white: #ffffff;
$themeColor: #009cbd;
$themeDarkColor: #004976;
$themeLightColor: #00B8D9;
$error: #e9300b;
$success: #23c46b;

$color333: #333;
$color666: #666;
$color999: #999;
$colorDDD: #dcdcdc;
$borderColor: #EBEFF2;

