/**
 * desc: 选择地区组件
 * Date: 2018/8/13
 * Time: 下午3:58
 */
.gym-search{
  &-area {
    display: flex;
    &-label{
      width: 50px;
    }
    &-select{
      width: 120px;
      padding: 5px 0;
    }
  }

  .ant-form-item {
     display: flex;
  }
}
