/**
 * desc:
 * User: Renjian.Tang/renjian.tang@gymboglobal.com
 * Date: 2022/9/13
 * Time: 上午11:27
 */
.gym-teach-scope-set{
    .ant-table-thead > tr > th.p0{
        padding: 0;
    }
    &-line{
        padding: 20px 0;
        width: 500px;
        position: relative;
        background: linear-gradient(4.5deg, transparent 49.5%, #ddd 49.5%, #ddd 36.5%, transparent 51.5%);
    }
    &-top{
        position: absolute;
        bottom: 5px;
        left: 40px;
    }
    &-bottom{
        position: absolute;
        top: 10px;
        right: 30px;
    }
}
